.cardBackground{
    width: 1%;
}

.cardImage{
    width: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.cardName{
    width: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.cardki{
    width: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.cardRace{
    width: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}

@media{
    .cardBackground{
        
    }
}