.title{
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    width: 100%;
    text-shadow: 0px 3px 20px white;
}
.wrapCard{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}


@media (width >= 768) {
    .title{
        font-size: 4rem;
    }
}