.title{
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    width: 100%;
    text-shadow: 0px 3px 20px white;
}

@media (width >= 768) {
    .title{
        font-size: 4rem;
    }
}